.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-button-next, .swiper-button-prev{
    color: #B22222;
  }

  .swiper-pagination-bullet{
    background-color: #B22222 !important;
    opacity: 100;
  }

  .swiper-pagination-bullet-active{
    background-color: #fff !important;
  }

  @media (max-width: 768px) {
  .banner-container .swiper .swiper-wrapper .swiper-slide{
    height: 200px !important;
  } 

  
  }